<!DOCTYPE html>
<html>
    <head>
        <title>EcoHaul</title>
        <link rel="stylesheet" href="static/user.css">
    </head>

    <body>
        <header>
            <h1>EcoHaul</h1>
            <div class="logout">
                <a href="{{ url_for('logout') }}">logout</a>
                <!--<a href="liked">Liked</a>
                <a href="profile">Profile</a>
                <a href="cart">Cart</a>
            </div> -->
        </header>

        <form action="{{ url_for('user') }}" method="post"></form>
        <div class="nav">
            <!--<div class="menu-button">
                <span></span>
                <span></span>
                <span></span>
            </div> -->
            <a href="{{ url_for('my_citations') }}">My Citation</a>
            <a href="{{ url_for('my_notice') }}">My Notice</a>
            <a href="#">Track Ativity</a>
            <a href="{{ url_for('shop') }}">Shop</a>
            <a href="#">Services</a>
            <a href="#">Notifications</a>
            <a href="{{ url_for('contact') }}">Contact</a>
    
            <!--<div class="search-container">
                <input type="text" class="search-input" placeholder="Search...">
                <button class="search-button">Search</button>
            </div> -->
        </div>

        <section>
            <div class="container">
              <main>
                {% extends "base.html" %}
                {% block content %}
                <table id="data" class="table table-striped">
                  <thead>
                    <tr>
                      <th>Complaint ID</th>
                      <th>Complaint Description</th>
                      <th>Complaint Date</th>
                      <th>Map ID</th>
                      <th>Complaint Addres</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in users_citations %}
                    <tr>
                      <td>{{ user.Co_id }}</td>
                      <td>{{ user.Co_desc }}</td>
                      <td>{{ user.Co_date }}</td>
                      <td>{{ user.M_id }}</td>
                      <td>{{ user.Co_address }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% endblock %}
              </main>
              </div>   
        </section>

    <footer>
      <p>© 2023 EcoHaul</p>
    </footer>
    </body>
</html>


