<!DOCTYPE html>
<html>
    <head>
        <title>EcoHaul</title>
        <link rel="stylesheet" href="static/user.css">
    </head>

    <body>
        <header>
            <h1>EcoHaul</h1>
            <div class="logout">
                <a href="{{ url_for('logout') }}">logout</a>
                <!--<a href="liked">Liked</a>
                <a href="profile">Profile</a>
                <a href="cart">Cart</a>
            </div> -->
        </header>

        <form action="{{ url_for('user') }}" method="post"></form>
        <div class="nav">
            <!--<div class="menu-button">
                <span></span>
                <span></span>
                <span></span>
            </div> -->
            <a href="{{ url_for('my_citations') }}">My Citation</a>
            <a href="{{ url_for('my_notice') }}">My Notice</a>
            <a href="#">Track Ativity</a>
            <a href="{{ url_for('shop') }}">Shop</a>
            <a href="#">Services</a>
            <a href="#">Notifications</a>
            <a href="{{ url_for('contact') }}">Contact</a>
    
            <!--<div class="search-container">
                <input type="text" class="search-input" placeholder="Search...">
                <button class="search-button">Search</button>
            </div> -->
        </div>

        <section>
            <div class="container">
                <h1>Who do you like to call?</h1>
                <h3>Emergency Line: <a class="number-link"> 911</a></h3>
                <h3>Non-Emergency Line: <a class="number-link"> 311</a></h3>
                <h3>Recycling Hotline:<a class="number-link"> 1-800-253-2687</a></h3>
                <h1><b></b></h1>
                <a href="{{ url_for('chatbot')}}" class="see-more-button">Chat Here</a>
            </div>
        </section>

        <main>
            {% block content %}
        
            {% endblock %}
        </main>

        <footer>
            <p>© 2023 EcoHaul</p>
        </footer>
    </body>
</html>


