<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to EcoHaul - Log in</title>
    <link rel="stylesheet" href="static/home.css">
</head>
<body>
    <div id="login-container">
        <h1>Welcome to EcoHaul</h1>
        <p>Log in</p>

        <!-- Buttons for different login options -->
        <a id="facebook-btn" href="#">Log in with Facebook</a>
        <a id="google-btn" href="{{url_for('gmail')}}">Log in with Google</a>
        <a id="email-btn" href="{{url_for('login')}}">Log in with Email or Phone</a>
        <!-- Register link -->
        <a  id="register-link" href="{{url_for('register')}}">Register here</a>
    </div>
</body>
</html>
