<!DOCTYPE html>
<html>
    <head>
        <title>EcoHaul</title>
        <link rel="stylesheet" href="static/user.css">
    </head>

    <body>
        <header>
            <h1>EcoHaul</h1>
            <div class="logout">
                <a href="{{ url_for('logout') }}">logout</a>
                <!--<a href="liked">Liked</a>
                <a href="profile">Profile</a>
                <a href="cart">Cart</a>
            </div> -->
        </header>

        <form action="{{ url_for('user') }}" method="post"></form>
        <div class="nav">
            <!--<div class="menu-button">
                <span></span>
                <span></span>
                <span></span>
            </div> -->
            <a href="{{ url_for('my_citations') }}">My Citation</a>
            <a href="{{ url_for('my_notice') }}">My Notice</a>
            <a href="#">Track Ativity</a>
            <a href="{{ url_for('shop') }}">Shop</a>
            <a href="#">Services</a>
            <a href="#">Notifications</a>
            <a href="#">Contact</a>
            <!--<div class="search-container">
                <input type="text" class="search-input" placeholder="Search...">
                <button class="search-button">Search</button>
            </div> -->
        </div>

        <section>
            <div class="container">
              <main>
                {% extends "base.html" %}
                {% block content %}
                <table id="data" class="table table-striped">
                  <thead>
                    <tr>
                      <th>Complaint ID</th>
                      <th>Category</th>
                      <th>Description</th>
                      <th>Addres</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in users_notice %}
                    <tr>
                      <td>{{ user.C_id }}</td>
                      <td>{{ user.C_category }}</td>
                      <td>{{ user.C_desc }}</td>
                      <td>{{ user.C_date }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% endblock %}
            </main>
            </div>
        </section>
        
        <footer>
            <p>© 2023 EcoHaul</p>
        </footer>
    </body>
</html>



