<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="static/register.css">
</head>
<body>
    <div class="registration-container">
        <h2>Registration</h2>
        <form action="{{ url_for('register') }}" method="post">
            <div class="form-group">
                <label for="firstName">First Name (Alphanumeric):</label>
                <input type="text" id="firstName" name="firstName" pattern="[A-Za-z0-9]+" required>
            </div>

            <div class="form-group">
                <label for="lastName">Last Name (Alphanumeric):</label>
                <input type="text" id="lastName" name="lastName" pattern="[A-Za-z0-9]+" required>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="form-group">
                <label for="driversLicense">Driver's License (Numerical):</label>
                <input type="text" id="driversLicense" name="driversLicense" pattern="[0-9]+" required>
            </div>

            <div class="form-group">
                <label for="address">Address (Street Number, Number, and Street):</label>
                <input type="text" id="address" name="address" pattern="[A-Za-z0-9]+\s[0-9]+\s[A-Za-z0-9]+" required>
            </div>

            <button type="submit">Register</button>
        </form></br>

        <div class="register-link">
            <p>Already have an account? <a href="{{url_for('login')}}">Login here</a>.</p>
        </div>
    </div>
</body>
</html>
