<!DOCTYPE html>
<html>
    <head>
        <title>EcoHaul</title>
        <link rel="stylesheet" href="static/user.css">
        <style>
              
        </style>
    </head>

    <body>
        <header>
            <h1>EcoHaul</h1>
            <div class="logout">
                <a href="{{ url_for('logout') }}">logout</a>
                <!--<a href="liked">Liked</a>
                <a href="profile">Profile</a>
                <a href="cart">Cart</a>
            </div> -->
        </header>

        <form action="{{ url_for('shop') }}" method="post"></form>
        <div class="nav">
            <!--<div class="menu-button">
                <span></span>
                <span></span>
                <span></span>
            </div> -->
            <a href="{{ url_for('my_citations') }}">My Citation</a>
            <a href="{{ url_for('my_notice') }}">My Notice</a>
            <a href="#">Track Ativity</a>
            <a href="{{ url_for('shop') }}">Shop</a>
            <a href="#">Services</a>
            <a href="#">Notifications</a>
            <a href="{{ url_for('contact') }}">Contact</a>

            <a href="{{ url_for('my_cart') }}" class="cart-icon">
                <img src="static/cart.png" alt="Cart">
                <span class="cart-count"></span> <!-- This span can be used to display the number of items in the cart -->
            </a>
            <!--<div class="search-container">
                <input type="text" class="search-input" placeholder="Search...">
                <button class="search-button">Search</button>
            </div> -->
        </div>    

        <section>
            <div class="container">
                {% for p in products %}
                <div class="shop-container">
                    <!-- Product 1 -->
                    <div class="product-card">
                        <div class="product-image">
                          <a><img src="static/bin.jpg" alt="Product Image" /></a>
                        </div>
                        <div class="product-details">
                          <h2 class="product-title">{{p.Name}}</h2>
                          <h4 class="product-price">${{p.price}}</h4>
                          <h4 class="product-price">{{p.item}}</h4>
                          
                          <div class="add-to-cart-btn">
                            <form action="{{ url_for('add_to_cart') }}" method="post">
                                <input type="hidden" productname="product_name" value="{{p.name}}">
                                <input type="hidden" productprice="product_price" value="{{p.price}}">
                                <input type="hidden" numberofitem="product_item" value="{{p.item}}">
                                <button type="submit" class="add-to-cart-btn">Add to Cart</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                </br>
                <!-- Repeat similar blocks for Products 3 to 6 -->
                </div>
                {% endfor %}
            </div>
        </section>
        
        <footer>
            <p>© 2023 EcoHaul</p>
        </footer>
    </body>
</html>



